@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@900&family=Nunito:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}

.title {
  font-size: 7.6rem;
  font-family: 'Lobster', sans-serif;
  letter-spacing: 16.5px;
    MARGIN: 41px 0;
    color: #083e60;
    animation: mover-title 1.5s infinite  alternate;
    text-shadow: -2px 2px 6px #18e3f5;
}

.wrapper {
  background: url("/espacio.png");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

.wrapper-2 {
  background: url("/espacio.png");
  color: #eee;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
  padding: 0 2cm 2cm;
}
.contenedor-img {
  color: #eee;
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding:  2cm 2cm;
  height: 60vh;

}

p{
  font-size: 4cm;
  padding: 1.5cm;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.038);
  box-shadow:0px 0px 18px   #1e7dbc;
  text-transform: uppercase;
  color: #1e7dbc;
text-align: center;
animation: mover-title 1.5s infinite  alternate;
font-family: Arial, Helvetica, sans-serif;


}


.wrapper .contenedor-img img:nth-child(1){
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0px 0px 10px   #1e7dbc);
  -webkit-animation: mover 1.5s infinite  alternate;
  animation: mover 1.5s infinite  alternate;
  width: 50%;
  margin-bottom: 2cm;

}

.wrapper  .contenedor-img  img:nth-child(2){
  z-index: -1;
  filter: drop-shadow(0px -6px 15px   #b3b5b6);
  position: absolute;
}



@media (max-width: 1000px) {
  .title {
    font-size: 7.6rem;
  }
  .wrapper .contenedor-img img:nth-child(1){
    margin-bottom: 2cm;
    width: 70%;
    align-items: center;

  }
  .wrapper 
  {
    align-items: center;
    height: 60vh;
  }
  .wrapper  .contenedor-img  img:nth-child(2){
    width: 100%;
  }
  .wrapper-2 p img{
    width: 60%;
  }
  .wrapper-2 p {
    font-size: 2cm;
  }
}
@media (max-width: 780px) {
    .title {
    font-size: 5.6rem;
  }
  .wrapper .contenedor-img img:nth-child(1){
    width: 80%;
    margin-bottom: 1cm;
  }
    .wrapper  .contenedor-img  img:nth-child(2){
    width: 100%;
  }
  .wrapper-2 p img{
    width: 50%;
  }
  .wrapper-2 p {
    font-size: 1cm;
  }
}
@media (max-width: 650px) {
    .title {
    font-size: 3.6rem;
  }
  .wrapper .contenedor-img img:nth-child(1){
    width: 90%;
    margin-bottom: 1cm;
  }
    .wrapper  .contenedor-img  img:nth-child(2){
    width: 100%;
  }
}

@keyframes animation {
  100%{
    background-position:0px -3000px;
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0); 
    filter: drop-shadow(0px 0px 10px   #1e7dbc);
  }
  100% { 
    transform: translateY(-30px); 
    filter: drop-shadow(0px 0px 20px   #1e7dbc);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
    filter: drop-shadow(0px 0px 10px   #1e7dbc);
  }
  100% { 
    transform: translateY(-30px); 
    filter: drop-shadow(0px 0px 20px   #1e7dbc);
  }
}


@-webkit-keyframes mover-title {
  0% {
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 10px   #1e7dbc);
  }
  100% { 
    transform: translateY(0); 
    filter: drop-shadow(0px 0px 20px   #1e7dbc);
  }
}
@keyframes mover-title  {
  0% {
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 10px   #1e7dbc);
  }
  100% { 
    transform: translateY(0); 
    filter: drop-shadow(0px 0px 20px   #1e7dbc);
  }
}



